<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eligendi veritatis autem enim labore libero sapiente necessitatibus, architecto repellendus sequi quae laborum inventore quis quisquam, quaerat incidunt natus quo possimus! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur veritatis minima sed quis. Recusandae nostrum quos corrupti cumque, sequi nam at! Aliquid cupiditate quisquam odit, natus aut alias. Vel, veritatis.</p>

<%- include("footer") -%>